.DS_Store
.free-notes.txt
user0_pw.txt
user1_pw.txt
cache/
node_modules/
yarn-error.log
yarn.lock
rpc_endpoint.txt
.env
yarn-error.log
yarn.log
init_db_script_local.sh
clear_db_script_local.sh
hardhat-data-aggregator/prisma/migrations/
hardhat-data-aggregator/coverage/

